.link{
 text-decoration: none;
 color: inherit;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  
  :root {
    --card-height: 260px;
    --card-width: calc(var(--card-height) / 1.27);
  }
  
  
  
  .card {
    background: #191c296e;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 50%;
    color: rgba(66,180,202);
    margin: 20px;
  }
  
  .card:hover {
    color: rgb(88, 250, 88);
    transition: color 1s;
    transform: scale(0.95);
  }
  
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
    
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #04ff19a3, rgb(191, 222, 66) 43%, rgb(25, 56, 64));
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #fffa5d, #4ae33c 43%, rgb(25, 56, 64));
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  
  .btn{
  position: absolute;
  top: 5px;
  right: 5.5px;
  background-color: rgb(25, 56, 64);
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(255, 255, 255, 0.262) 0 0 1px 0, rgba(244, 244, 245, 0.492) 0 3px 4px 0;
  color: #ffffff;
  cursor: pointer;
  font-family: cursive;
  font-size: 15px;
  padding: 0 5px;
  transition: all 200ms;
}
  
.btn:hover{
  color: #2bff06;
  background-color: #010101;
  transform: scale(1.05);
 }
 
 .imgContainer{
   display: flex;
   flex-direction: column-reverse;
     width: 200px;
     border-radius: 5px 5px 0 0 ;
    }
    .textNombre{     
      margin-top: 5px;             
      margin-bottom: 0px;
      background-color: rgba(240, 248, 255, 0.78);
      color: rgb(25, 56, 64);
   }

   .genreSpecies{
     display: flex;
     justify-content: space-evenly;
     background-color: rgb(25, 56, 64);
     border-radius: 0 0 5px 5px;
     margin-top: 5px;
     width: 200px;
   }
   .genreSpecies h2{
     margin: 5px;
   }
   
   .btn2{
    position: absolute;
    top: 5px;
    left: 5.5px;
    background-color: rgba(25, 56, 64, 0);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 15px;
    padding: 0 5px;
    transition: all 200ms;
  }
    
  .btn2:hover{
    background-color: #01010100;
    transform: scale(1.7);
   }