.divNav{
  background-color: rgb(25, 56, 64);
  border-radius: 10px;
}
.active {
    color: rgb(21, 250, 0);
    font-weight: bold;
    text-decoration: none;
  }
.active:hover{
 font-size: small;
 color: rgba(5, 237, 117, 0.716);
}
  
  .disable {
    color: #f6f4e6;
    text-decoration: none; 
  }
  .disable:hover{
    font-size: small;
    color: rgba(0, 255, 21, 0.716);
   }